pipeline/Incrementalload.json
{
	"name": "Incrementalload",
	"properties": {
		"activities": [
			{
				"name": "Lookuplastload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Jsonlastdtlookupds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookuplatestdate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(BOOKING_DATE) as latest_date from FactBookings",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTablelookupds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copytabletocsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookuplastload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookuplatestdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.FactBookings\n WHERE booking_date >'@{activity('Lookuplastload').output.firstRow.last_load}'\n AND booking_date <='@{activity('Lookuplatestdate').output.firstRow.latest_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTablelookupds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "tabletobronzeldds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copytabletocsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "Last_load",
								"value": {
									"value": "@activity('Lookuplatestdate').output.firstRow.latest_date",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Jsonemptyfillds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Jsonupdatebronzeds",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-24T05:41:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}